/* General */
body {
  font-family: 'Roboto', sans-serif;
}

section {
  padding: 75px 0;
}

h2 {
  text-align: center;
}

h4 {
  font-weight: 700;
}

.header-color {
  background-color: #0077B6;
}

.background-light {
  background-color: #F8F9FA
}

/* Header */
header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

.animated {
  animation-delay: 0.1s;
  animation-duration: 2s;
}

/* About Section */
.img-about {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 7px solid #F1F1F1;
}

/* Education Section */
.img-education {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.bolded {
  font-weight: 700;
}

/* Projects Section */
.img-projects {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #F1F1F1;
  margin-bottom: 1em;
}

.img-projects2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #F1F1F1;
  background: #FECA30;
  margin-bottom: 1em;
}

.media {
  padding: 30px;
}

/* Contact Section */
.linkBlack i{
  color: black;
  text-decoration: none; 
  background-color: none;
  font-size: 8em;
  /* display: flex;
  display: -webkit-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around; */
}

i:hover {
  opacity: 0.7;
}

#hello {
  animation-duration: 6.0s;
  animation-iteration-count: infinite;
}

#heart {
  display: inline-block;
  animation-iteration-count: infinite;
}

#code {
  display: inline-block;
  /* color: #30cc8b; */
  color: #00b300;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

body .text-red {
  color: red !important;
}