header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

.linkBlack i{
  color: black;
  text-decoration: none; 
  background-color: none;
  font-size: 8em;
}

i:hover {
  opacity: 0.7;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.img-about {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.img-education {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}



